*{
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
html{
    background-color: #5b3a29;
}
a{
    text-decoration: none;
    font-size: 25px;
    outline: none;
    font-family: "Base-font";
}
a :visited{
    color: black;
}
p{
    font-size: 30px;
    font-family: "Base-font";
}
@font-face {
    font-family: "Base-font"; 
    src: url("../fonts/base.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: calc(20px + 100%); /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #5b3a29; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }

.tip{
    font-size: 20px;
    color: white;
}
.container{
    width: 1300px;
    margin: 0 auto;
}

.header-wrapper{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
}
.header-logo{
    margin-left: calc(10% - 30px);
}
.header-social{
    margin-right: calc(10% - 30px);
    text-align: center;
}
.header-social__dark-theme{
    width: 35px;
}
.main-center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-center__image{
    margin-top: 30vh;
    width: 220px;
    align-items: center;
}
.main-center__all{
    margin-right: 30px;
}